$primary-color: #007bff;
$dark-mode-primary: #191b1f;
$dark-mode-secondary: #212429;
$breakpoint: 992px;
$breakpoint2: 576px;

.faucet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 55vh;

  .faucet-title {
    text-align: center;
    margin: 1.5rem 0 3.5rem;
  }

  .faucet-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    @media screen and (max-width: $breakpoint) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 2.5rem;
    }

    @media screen and (max-width: $breakpoint2) {
      grid-template-columns: 1fr;
    }

    .faucet-button-group {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-right: 2rem;

      button {
        margin-bottom: 1rem;
      }
    }
  }
}

.faucet-dark-mode {
  background-color: $dark-mode-secondary;
  color: #fff;
}
